language: node_js
node_js:
    - "8"
    - "10"

script:
    - ./node_modules/.bin/istanbul cover --report lcov node_modules/.bin/_mocha test/
after_success:
    - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
